.dino {
    height: 60px;
    width: 60px;

    position: absolute;
    bottom: 0;
    background-color: greenyellow;
}

.cactus {

    height: 60px;
    width: 60px;

    bottom: 0;
    position: absolute;
    background-color: red;
}